:root {
  --dark: #272A31;
  --light-red: #EC5242;
  --light: #D3D3D3;

  --ff-1: 'Lato', sans-serif;
}

@font-face {
  src: url('fonts/Cocogoose_trial.otf');
  font-family: Coco;
}

body {
  font-family: var(--ff-1);
  color: var(--dark);
}

.hello-world {
  font-family: var(--ff-1);
  width: 100%;
  text-align: center;
}

.hello-world h1 {
  font-weight: lighter;
  color: var(--light-red);
  font-size: 1.875rem;
}

.hello-world img {
  width: 90%;
}

.about-page {
  width: 85%;
  margin: 40px auto 0;
  border: 1px solid var(--light);
  padding: 15px;
  text-align: center;
  background-color: #fff;
}

.about-page p {
  font-size: 18px;
  line-height: 25px;
}

.contact-info {
  width: 100%;
  text-align: center;
  line-height: 10px;
  font-size: 18px;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 10px;
}

.contact-info a {
  color: inherit;
  font-weight: bolder;
}

.about-logo {
  width: 100%;
}

.about-logo-header h2 {
  text-align: center;
  line-height: 25px;
}

.about-logo-header {
  width: 100%;
  margin-top: 40px;
}


.about-logo-txt {
  text-align: center;
  margin-top: 5px;
  line-height: 10px;
}

.about-logo-img {
  border: 1px solid var(--dark);
  width: 90%;
  margin: 50px auto;
  text-align: center;
}

.about-logo-img img {
  width: 50%;
}

.about-past {
  width: 100%;
  margin-top: 40px;
}

.about-past-header h2 {
  text-align: center;
}

.underline-2 {
  width: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-past-img {
  margin-top: 50px;
  padding-bottom: 30px;
}

.about-past-img-view {
  text-align: center;
  margin-top: 30px;
  width: 70%;
  margin:0 auto ;
}

.about-past-img-view img {
  width: 80%;
}

.img-1 {
  margin-bottom: 15px;
}

.space {
  line-height: 22px;
}

.footer-1 {
  width: 100%;
  background-color: var(--dark);
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
}

.footer-1 h2 {
  padding-top: 30px;
}

.footer-logos {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 30px auto 0;
  box-sizing: border-box;
}

.f-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.image-1 {
  width: 150px;
  height: 100px;
}

.image-1 img {
  width: 100%;
  height: 100%;
}

.image-2 img {
  height: auto;
}

.image-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.just {
  height: 25px;
}

.just-u {
  height: 40px;
  padding-top: 10px;
}

.special {
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}

.footer-2 {
  width: 100%;
}

.footer-2-ctn {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-2-img {
  max-width: 250px;
  box-sizing: border-box;
}

.footer-2-img img {
  width: 100%;
}

.footer-2-txt {
  width: 50%;
  font-size: 14px;
  height: auto;
  line-height: 10px;
  display: table-cell;
  vertical-align: middle;
}