:root {
  --dark: #272A31;
  --light-red: #EC5242;
  --light: #D3D3D3;

  --ff-1: 'Lato', sans-serif;
}

@font-face {
  src: url('fonts/Cocogoose_trial.otf');
  font-family: Coco;
}

.intro {
  background-image: url('img/main_big.png');
  background-size: cover;
  width: 100%;
  height: 800px;
}

.intro-top-icon {
  padding: 15px 30px;
  color: var(--dark);
}

.intro-main-highlight {
  width: 95%;
  margin: 60px auto 0 auto;
}

.intro-main-highlight img {
  width: 100%;
}

.intro-paragraph {
  border: 4px solid #fff;
  width: 90%;
  margin: 30px auto 10px auto;
  padding: 10px;
  text-align: start;
  font-size: 18px;
  font-family: var(--ff-1);
  color: var(--dark);
  font-weight: 500;
}

.date-venue {
  text-align: start;
  line-height: 10px;
  width: 90%;
  margin: 30px auto 0px auto;
  color: var(--dark);
}

.date-venue h2 {
  font-size: 30px;
  font-family: Coco;
  font-weight: 400;
  line-height: 30px;
}

.date-venue p {
  font-family: var(--ff-1);
  font-size: 18px;
  line-height: 18px;
}

.main-program {
  width: 100%;
  background-image: url('img/pattern_bg.png');
  background-repeat: repeat;
  background-color: var(--dark);
  font-family: var(--ff-1);
}

.main-program h2 {
  color: #fff;
  text-align: center;
  font-size: 26px;
  padding-top: 30px;
}

.underline {
  width: 53px;
  border-bottom: 1px solid var(--light-red);
  margin: 0px auto 54px;
}

.program-list {
  width: 90%;
  margin: 0 auto;
}

.programs {
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding: 16px 5px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.p-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.p-header {
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--light-red);
  font-size: 20px;
  width: 22%;
}

.p-paragraph {
  width: 50%;
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  line-height: 30px;
  padding: 10px;
}

.main-btn {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 40px;
}

.main-btn button {
  font-size: 22px;
  font-family: var(--ff-1);
  padding: 30px;
  border: 1px solid var(--light-red);
  background-color: var(--light-red);
  color: #fff;
}

.featured-speakers {
  font-family: var(--ff-1);
  color: var(--dark);
  width: 90%;
  margin: 0 auto;
}

.featured-speakers h2 {
  text-align: center;
  font-size: 26px;
  padding-top: 30px;
}

.speaker {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.speaker-txt {
  padding-left: 15px;
}

.red {
  color: var(--light-red);
  font-weight: 400;
}

.line {
  width: 20px;
  border-bottom: 1px solid #666;
}

.speaker-btn {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.speaker-btn button {
  padding: 15px;
  font-size: 16px;
  font-family: var(--ff-1);
  width: 100%;
  border: 1px solid var(--dark);
  color: var(--dark);
  background-color: #fff;
  border-radius: 4px;
}

.speaker-btn i {
  color: var(--light-red);
}